body{
	background: url("potrait3.jpg");
	background-size: cover;
	text-shadow: black 0px 0px 10px;
	text-align: justify;
}

h1{
	color: rgb(225, 247, 242);
	text-decoration: underline;
}

h3{
	color: rgb(164, 250, 160);
}

p{
	color: rgb(24, 84, 204);
}


#link:link{
	color:red;
}

#link:visited{
	color:green
}
