body{
	font-size:1 em;
	text-align:justify;
	
}

#title{
	color: rgb(81,240,92);
	padding: 5px;
	text-align: center;
	background: url("2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	font-family: "Times New Roman";
	text-shadow: white 0px 5px 5px;
	
}

.subtitle{
	color:rgb(51,212,110);
	text-decoration:underline;
	background: url("2.jpg");
	background-position: center;
	background-repeat:no-repeat;
	text-align: center;
	padding: 5px;
	text-shadow: white 0px 5px 5px;
}

span{
	
	background-image: url("tenor.gif"), url("tenor 1.gif"), url("27.jpg");
	background-position: left, right, center;
	background-repeat: no-repeat, no-repeat, no-repeat;
	border: 7px double rgb(0,0,0,);
	background-size: 480px 720px, 480px 720px;
}

.para-text{
	color: rgb(247, 233, 74);
	text-shadow: white 0px 0px 10px;
}

.img{
	float:right;
	border: 5px double rgb(74, 247, 129);
	padding:5px;
	margin:80px 40px;
}

.img1{
	position: center;
}

.img2{
	display:inline-block;
	float:right;
}

div{
	color:rgb(10, 252, 200);
	text-align: center;
	text-shadow: white 0px 0px 10px;
}

#link:link{
	color: blue;
}

#link:visited{
	color: green;
}
	



