body{
	font-size:1.25em;
	text-align:justify;
	background: linear-gradient(rgb(236, 250, 82), rgb(211,240,239));
	
}

#title{
	color: rgb(81,240,92);
	border: 5px;
	text-align: center;
	font-family: "Times New Roman";
	
}

.subtitle{
	color:rgb(51,212,110);
	text-decoration:underline;
	background: url("2.jpg");
	text-align: center;
}

.slider{
	
	background-image: url("tenor.gif"), url("tenor 1.gif"), url("27.jpg");
	background-position: left, right, center;
	background-repeat: no-repeat, no-repeat, no-repeat;
	border: 7px double rgb(0,0,0,);
	background-size: 480px 720px, 480px 720px;
}

.para-text{
	color: rgb(240,141,12);
}

div{
	color:rgb(59,209,204);
	text-align: center;
}

#link:link{
	color: blue;
}

#link:visited{
	color: green;
}
	



